/* import font fonts.css file */
@import url(./font.css);

/* importation des variables  */
@import url(./partials/variables.css);

/* ========la barre de navigation========== */

.header{
    padding: 1.7rem 5rem;
    width: 100%;
    height: 100px;
    background: #fff;
    color: black;
    overflow: visible;
}
.header .navbar-nav{
    padding: 2rem 2rem;
}
.header .nav-item .nav-link{
    margin-left: 35px;
    color: var(--title-color);
    font-weight: 500;
    font-size: 15px;
    font-family: var(--roboto);
}
#l-active{
   background-color: var(--primary-color);
   -webkit-background-clip:text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
}
.header .nav-item a:hover{
    background-color: var(--primary-color);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
 }

 /* ==========Partie home2======== */
#home{
    
    background-image: url(../images/banner/home-banner.png);
}
#home2 .row{
    position: relative;
    margin-top: 130px;
}
 #home2 h1{
     font-family: var(--roboto);
     font-weight: 400;
     font-size: 50px;
 }
 #home2 h1::after{
     content: "";
     width: 250px;
     height: 2px;
     background: black;
     margin-left: 5%;
     display: inline-block;
     transform: translateY(-10);
 }
 #home2 h2{
     font-family: var(--roboto);
     font-weight: 600;
     font-size: 70px;
 }
 #home2 h3, #home2 button{
    font-family: var(--roboto);
    
}
#home2 .btn-outline-primary{
    background-color: var(--primary-color2);
    color: #fff;
    border: 2px solid var(--primary-color2);
   width: 150px;
   height: 50px;
}
#home2 .btn-outline-primary:hover{
    background-color: #fff;
    color: black;
    border: 2px solid var(--primary-color2);
   width: 150px;
   height: 50px;
}
#home2 .btn-primary{
    margin-left: 15px;
    background-color: #fff;
    color: black;
    border: 2px solid var(--primary-color2);
   width: 150px;
   height: 50px;
}
#home2 .btn-primary:hover{
    background-color: var(--primary-color2);
    color: #fff;
    border: 2px solid var(--primary-color);
   width: 150px;
   height: 50px;
}

/* ========partie about======== */

#about{
    font-family: var(--roboto);
    margin-bottom: 50px;
}
#about h1{
    font-weight: 400;
    font-size: 70px;
}
#about p{
    color: var(--text-color);
}
#about a{
    background-color: var(--primary-color2);
    color: #fff;
    border: 2px solid var(--primary-color2);
   
}
#about a:hover{
    background-color: #fff;
    color: black;
    border: 2px solid var(--primary-color2);
}



/* =======partie services */

.first-row .col-lg-4{
    display: flex;
    justify-content: center;
}
.single-brand {
    border: 1px solid var(--border-color);
    text-align: center;
    padding: 1.8rem 0rem;
    margin: 0.9rem;
    width: 180px;
    height: 100px;
    cursor: pointer;
    transition: transform .4s ease;
}
.single-brand img{
    width: 50%;
}
.single-brand:hover{
    box-shadow: var(--box-shadow);
    transform: scale(1.1);
}
.single-brand img:hover{
    filter: brightness(0.15);
}
.bg-trait{
    background: url(../images/client-info-bg.png) no-repeat 45px 20px;
    padding: 0.2rem 0;
    padding-left: 8rem;
}
.numerique{
    color: var(--primary-color2);
    font-size: 100px;
    font-weight: 700;
    font-family: var(--roboto);
}
.years{
    padding: 1rem;
    font-size: 20px;
    font-weight: 600;
    font-family: var(--roboto);
}
span{
    display: block;
    
}
.phone{
    font-family: var(--roboto);
    padding: 7rem 0rem;
    margin-left: 100px;
}

.phone a{
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: 200;
}
.bg-panel{
    position: absolute;
    left: -190px; top: 0%;
    width: 400px;
    height: 400px;
    background: #e029290a;
    margin-left: 380px;
}
.offers{
    height: 250px;
}
.offers h1{
    font-size: 40px;
    font-weight: 600;
    font-family: var(--roboto);
}
.offers p{
    font-family: var(--roboto);
    color: var(--text-color);
    padding: 1.5rem;
}

/* =======partie 2 services======== */
#service2 .row{
    width: 95%;
    margin-left: 5%;
}
@media screen and (min-width :720px) {
    #service2 .bro{
        width: 100px;
        height: 350px;
        text-align: center;
        border: 0 solid black;
        background-color: rgb(244, 250, 253);
        margin-bottom: 200px;
    }
}
#service2 .bro:hover{
    box-shadow: var(--box-shadow);
}
.cartes h3{
    font-size: 20px;
    font-family: var(--roboto);
}
.cartes p{
    color: var(--text-color);
}
.cartes{
    padding: 1rem;
    margin-top: 30px;
}
@media screen and (max-width: 600px) {
    .bro{
        display: block;
    }
}


/* ==========la partie recently====== */


#recently h1{
    font-family: var(--roboto);
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 100px;
}
#recently ul li a{
    font-family: var(--roboto);
    font-size: 20px;
    text-transform: uppercase;
    color: black;
    background-color: #fff;
    border: 0 solid black;
    margin-bottom: 20px;
    border-spacing: 50px;
}

#pills-tabContent .element-item h4{
    font-family: var(--roboto);
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 15px;
}
#pills-tabContent .img:hover{
    filter: brightness(1.1);
    box-shadow: var(--box-shadow);
} 


@media screen and (min-width: 900px){
    #pills-all .monte{ 
        position: relative;
        left: 0px;
        bottom: 70px;
    }
    #pills-all .montes{
        position: relative;
        left: 0px;
        bottom: 180px;
        
    }
}
    


/* ======la partie du testimonial */
#testimonial{
    font-family: var(--roboto);
}
#testimonial h1{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}
#testimonial p{
    color: var(--text-color);
}
.owl-carousel{
    display: flex;
    justify-content: center;
    padding: 0 1.5rem;
    margin-top: 100px;
    margin-bottom: 150px;
}
.client-img{
    padding: 2rem;
}
.about-client{
    padding: 1rem;
}
#testimonial .client{
    background: #ffffff10;
    box-shadow: var(--box-shadow);
    margin: 3rem 0rem;
}

.client .about-client h4{
    font: normal 500 21px/ 20px var(--roboto);
}
.owl-carousel .owl-item{
    display: flex;
    justify-content: center;
    padding: 0 1.5rem;
}


/* =====partie inscription ========= */
#inscription{

    padding: 5rem 0rem;
    background: url(../images/subscribe-bg.png) no-repeat;
}
#inscription h2{
    margin-bottom: 20px;
    font-family: var(--roboto);
    font-size: 35px;
    color: aliceblue;
    text-transform: uppercase;
}
#inscription p {
    color: #fff;
    font-family: var(--roboto);
    margin-bottom: 30px;
}

#inscription input{
    background-color: var(--gradient);
    border: 1px solid #fff;
    width: 400px;
    height: 50px;
    border-radius: 5px;
    color: white !important;
    font: normal 500 17px/20px var(--roboto);
}
#inscription button{
    margin-left: 20px;
    background-color: #fff;
    width: 150px;
    height: 50px;
    border: 1px solid var(--primary-color2);
    border-radius: 5px;
}
/* ======partie footer========= */
.footer{
    padding: 5rem 0rem;
    background: url(../images/footer-bg.png) no-repeat;
    font-family: var(--roboto);
}
.footer a i {
    font-size: 25px;
    width: 100px;
    
    color: rgb(216, 211, 211) !important;
}
.footer a:hover >i{
    color:var(--primary-color) !important;
} 
.footer p{
    color: var(--text-color);
}



  .about-area .about-title p{
    padding: 1rem 7rem;
}

  .about-area .client{
    background: #ffffff10;
    box-shadow: var(--box-shadow);
    margin: 3rem 0rem;
}

  .about-area .client .client-img{
    padding: 2rem;
}

  .about-area .client .about-client{
    padding-top: 2rem;
}

  .about-area .client .about-client h4{
    font: normal 500 21px/ 20px var(--roboto);
}

  .about-area .client .about-client p{
    font-size: 14px;
}

  .about-area .owl-carousel .owl-item{
    display: flex;
    justify-content: center;
    padding: 0 1.5rem;
}

  .about-area .owl-carousel .owl-dots .owl-dot.active span{
    background: var(--primary-color);
    width: 12px;
    height: 12px;
}

